<?php /*{
   "resource": {
      "data_dir": "data",
      "config": "data\/config.php",
      "datastore": "data\/datastore.php",
      "ban_file": "data\/ipbans.php",
      "updates": "data\/updates.txt",
      "log": "data\/log.txt",
      "update_check": "data\/lastupdatecheck.txt",
      "history": "data\/history.php",
      "raintpl_tpl": "tpl\/",
      "theme": "default",
      "raintpl_tmp": "tmp\/",
      "thumbnails_cache": "cache",
      "page_cache": "pagecache"
   },
   "security": {
      "ban_after": 4,
      "ban_duration": 1800,
      "session_protection_disabled": false,
      "open_shaarli": false,
      "allowed_protocols": [
         "ftp",
         "ftps",
         "magnet"
      ],
      "markdown_escape": true
   },
   "general": {
      "header_link": "\/",
      "links_per_page": {{ shaarli.config.links_per_page }},
      {# indent arg causes linebreak between each plugin (in addition to indentation) -#}
      "enabled_plugins": {{ shaarli_plugins.enabled | to_json(indent=9) }},
      "default_note_title": "Note: ",
      "timezone": "{{ shaarli.config.timezone }}",
      "title": "{{ shaarli.config.title }}",
      "download_max_size": 4194304,
      "download_timeout": 30,
      "retrieve_description": true,
      "enable_async_metadata": true,
      "tags_separator": " "
   },
   "updates": {
      "check_updates": true,
      "check_updates_branch": "stable",
      "check_updates_interval": 86400
   },
   "feed": {
      "rss_permalinks": true,
      "show_atom": true
   },
   "privacy": {
      "default_private_links": {{ shaarli.config.default_private_links }},
      "hide_public_links": false,
      "force_login": false,
      "hide_timestamps": false,
      "remember_user_default": true
   },
   "translation": {
      "language": "auto",
      "mode": "php",
      "extensions": []
   },
   {# if clauses inside "plugins" may cause JSON syntax error under certain circumstances
      due to extraneous comma terminating last printed line before end of plugins: {} block
      No good fix at the moment, just manually take care if you enable, disable,
      add or remove plugins
      I wonder if we can add a nonsense key just as a way to work around this syntax limitation -#}
   "plugins": {
      {% if (shaarli_plugins.enabled is search("piwik")) -%}
      "PIWIK_URL": "{{ PIWIK_URL }}",
      "PIWIK_SITEID": "{{ PIWIK_SITEID }}",
      {% endif -%}
      {% if (shaarli_plugins.enabled is search("wallabag")) -%}
      "WALLABAG_URL": "{{ WALLABAG_URL }}",
      "WALLABAG_VERSION": "{{ WALLABAG_VERSION }}",
      {% endif -%}
      {% if (shaarli_plugins.enabled is search("default_colors")) -%}
      "DEFAULT_COLORS_MAIN": "{{ DEFAULT_COLORS_MAIN }}",
      "DEFAULT_COLORS_BACKGROUND": "{{ DEFAULT_COLORS_BACKGROUND }}",
      "DEFAULT_COLORS_DARK_MAIN": "{{ DEFAULT_COLORS_DARK_MAIN }}",
      {% endif -%}
      {% if (shaarli_plugins.enabled is search("shaarli2mastodon")) -%}
      "TWITTER_TWEET_FORMAT": "{{ TWITTER_TWEET_FORMAT }}",
      "TWITTER_HIDE_URL": "{{ TWITTER_HIDE_URL }}",
      "MASTODON_TOOT_FORMAT": "{{ MASTODON_TOOT_FORMAT }}",
      "MASTODON_TOOT_MAX_LENGTH": "{{ MASTODON_TOOT_MAX_LENGTH }}",
      "MASTODON_INSTANCE": "{{ MASTODON_INSTANCE }}",
      {# "MASTODON_APPID": "{{ MASTODON_APPID }}", #}
      {# "MASTODON_APPSECRET": "{{ MASTODON_APPSECRET }}", #}
      "MASTODON_APPTOKEN": "{{ MASTODON_APPTOKEN }}",
      {% endif -%}
      "NONSENSE_KEY": "LeaveItHereSimplyToAllowAllLinesAboveToTerminateWithComma"
   },
   "credentials": {
      "login": "{{ shaarli_credential_login }}",
      "salt": "{{ shaarli_credential_salt }}",
      "hash": "{{ shaarli_credential_hash }}"
   },
   "api": {
      "enabled": {{ shaarli.config.api_enabled }},
      "secret": "{{ shaarli_api_secret }}"
   },
   "thumbnails": {
      "width": 125,
      "height": 90,
      "mode": "all"
   },
   "formatter": "{{ shaarli.config.formatter }}"
}*/ ?>
