[Desktop Entry]
Name=Shaarli
Type=Application
Exec=/usr/bin/chromium-browser --new-window --app="https://{{ shaarli.domain }}"
GenericName={{ shaarli.domain }}
Comment=
Categories=Network;WebDevelopment;
Keywords=shaarli;webapp;links;weblog;
StartupWMClass=chromium-app-shaarli
Icon={{ desktop_icon.dest }}
Version=1.1
{# empty MimeType line just to suppress "lacks Mimetype" warning during update-desktop-database #}
MimeType=
