#jinja2: trim_blocks: False
{#
   without trim_blocks: False the ServerAlias line loses its newline, causing
   the DocumentRoot line to begin on the same line (separated by a tab or space)
   Could set trim_blocks in the calling ansible module instead of here, but I like
   this approach better (keeps the template and its settings more "self-contained")
#}
<VirtualHost *:80>
   ServerAdmin {{ shaarli.email }}
   ServerName {{ shaarli.domain }}
   {# we can print the following list of aliases as a space-separated string by #}
   {# https://stackoverflow.com/a/64363657 #}
   ServerAlias {% for alias in shaarli.aliases %}{{ alias + ' ' }}{% endfor %}
   DocumentRoot {{ shaarli.path.wwwroot }}

   # note, this does not handle https://shaarli.chepec.se -> https://links.solarchemist.se redirect
   # only http -> https redirect
   Redirect permanent / https://{{ shaarli.domain }}/

   LogLevel info
   ErrorLog ${APACHE_LOG_DIR}/{{ shaarli.domain }}_error.log
   CustomLog ${APACHE_LOG_DIR}/{{ shaarli.domain }}_access.log combined
</VirtualHost>

{# Following the excellent guide in Shaarli docs #}
{# https://shaarli.readthedocs.io/en/master/Server-configuration/#apache #}
{# Be careful - order of directives inside virtualhost block matter! #}
<VirtualHost *:443>
   ServerAdmin {{ shaarli.email }}
   ServerName {{ shaarli.domain }}
   ServerAlias {% for alias in shaarli.aliases %}{{ alias + ' ' }}{% endfor %}
   DocumentRoot {{ shaarli.path.wwwroot }}

   # handle https -> https redirect (from old shaarli domain to new)
   # redirect https://shaarli.chepec.se/$1 to https://links.solarchemist.se/$1
   # https://stackoverflow.com/a/5884297
   RewriteEngine on
   RewriteCond %{HTTP_HOST} {{ shaarli.aliases[0] }}$
   RewriteRule ^(.*)$ https://{{ shaarli.domain }}$1 [L,NC,R=301]

   SSLEngine on
   SSLCertificateKeyFile   /etc/letsencrypt/live/{{ shaarli.domain }}/privkey.pem
   SSLCertificateFile      /etc/letsencrypt/live/{{ shaarli.domain }}/cert.pem
   SSLCertificateChainFile /etc/letsencrypt/live/{{ shaarli.domain }}/chain.pem

   <Directory {{ shaarli.path.wwwroot }}>
      # Required for .htaccess support
      AllowOverride All
      Require all granted
   </Directory>

   <Directory {{ shaarli.path.wwwroot }}/doc/html>
      DirectoryIndex index.html
      <FilesMatch ".*\.html">
         Require all granted
      </FilesMatch>
    </Directory>

   <FilesMatch ".*\.(?!(ico|css|js|gif|jpe?g|png|ttf|oet|woff2?)$)[^\.]*$">
      Require all denied
   </FilesMatch>

   <Files "index.php">
      Require all granted
   </Files>

   <FilesMatch "\.(?:ico|css|js|gif|jpe?g|png|ttf|oet|woff2)$">
      # allow client-side caching of static files
      Header set Cache-Control "max-age=2628000, public, must-revalidate, proxy-revalidate"
   </FilesMatch>

   <FilesMatch "robots\.txt">
        Require all granted
    </FilesMatch>

   # serve the Shaarli favicon from its custom location
   Alias favicon.ico {{ shaarli.path.wwwroot }}/images/favicon.ico

   Loglevel info
   ErrorLog ${APACHE_LOG_DIR}/{{ shaarli.domain }}_error.log
   CustomLog ${APACHE_LOG_DIR}/{{ shaarli.domain }}_access.log combined
</VirtualHost>
